* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.buttons button {
  cursor: pointer;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #212121;
  border-radius: 5px;
}

.buttons button + button {
  margin-left: 5px;
}

.buttons button.active {
  background: #2196f3;
  border-color: #2196f3;
  color: #fff;
}

.switches {
  margin-left: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label label {
  margin: 1px 0 0 5px;
}

main {
  position: relative;
  height: 100%;
}

main .stats {
  position: absolute !important;
  left: auto !important;
  right: 0 !important;
}
